.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

body {
  background-color: #fff;
}

.ham img {
  width: 45px;
  padding: 2%;
}

.first-li {
  display: none;
}

.heading-1 {
  padding-bottom: 2.3%;
  font-size: 26px;
  font-weight: 400;

  /* line-height: 5px; */
  margin: 20px 0;
  color: #ec5242;
  font-family: 'lato', sans-serif;
}

.heading-2 {
  font-size: 3rem;
  font-weight: 900;
  font-family: 'COCOGOOSE', serif;
  background-image: linear-gradient(rgba(255, 38, 0, 0.76), rgba(255, 51, 0, 0.575)), url(images/sun.jpg);
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 46px;
}

.un-k {
  display: none;
}

.abt-p {
  border: 1px solid #d3d3d3;
  margin-bottom: 20px;
  color: #272a31;
  line-height: 30px;
  padding: 35px;
  text-align: center;
  max-width: 642px;
  background-color: #fff;
}

.abt-p p {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
}

.words {
  font-weight: 300;
  font-size: 23px;
  color: #ec5242;
  padding: 2%;
}

.fin-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 2%;
  color: red;
}

.yy {
  font-size: 42px;
  font-weight: 700;
  color: red;
  text-align: center;
}

.words2 {
  font-size: 21px;
  font-weight: 400;
  color: #413c3c;
}

.bord {
  padding: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px soild #d3d3d3;
}

.b-mg {
  width: 45%;
  border: none;
}

.h-n {
  padding: 5%;
  text-align: center;
  color: #272a31;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.02em;
}

.pt {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
  text-align: center;
}

.pt-lg {
  display: flex;
  padding: 20px 0 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #414246;
}

.pt-lg img {
  width: 82.667px;
  height: 31px;
}

.red-line {
  background: #a04038;
  width: 30px;
  height: 2px;
}

.frame {
  background: #f7f7f8;
  padding: 5px 0  5px 0;
}

.n-n2 {
  width: 334px;
  height: 183.312px;
}

.partner-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 30px;
  background-color: #404245;
}

.partner-1 h3 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  position: relative;
}

.partners-1 h3::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 1px;
  background-color: #ec5242;
}

.page-logo img {
  display: block;
  width: 40%;
  border: none;
  padding: 0;
}

.hammbuger {
  display: none;
}

.second-item {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  width: 100%;
}

.second-item img {
  display: none;
}

.second-li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.second-li li {
  border: 4px solid #fff;
  padding: 0.9rem;
  list-style: none;
}

.second-li a {
  text-decoration: none;
  color: #3b434e;
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 5%;
    margin-top: 20px;
    justify-content: center;
  }

  .first-li {
    background-color: #454545;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    font-size: 19px;
    color: #fff;
    float: left;
    gap: 1.5%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    list-style: none;
  }

  .second-item {
    display: flex;
    padding: 20px;
    justify-content: end;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    width: 100%;
  }

  .second-item img {
    width: 130px;
    height: 51px;
  }

  .second-li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    list-style: none;
  }

  .second-li li {
    border: 4px solid #fff;
    padding: 0.9rem;
  }

  .second-li a {
    text-decoration: none;
    color: #3b434e;
    font-size: 20px;
    font-weight: 400;
  }

  .first-li li a {
    color: #fff;
    text-decoration: none;
  }

  .heading-1 {
    padding-bottom: 2.3%;
    font-size: 26px;
    font-weight: 400;
    margin: 20px 0;
    color: #ec5242;
    font-family: 'lato', sans-serif;
  }

  .yy {
    font-size: 3rem;
    font-weight: 900;
    font-family: 'COCOGOOSE', serif;
    background-image: linear-gradient(rgba(255, 38, 0, 0.76), rgba(255, 51, 0, 0.575)), url(images/sun.jpg);
    background-repeat: repeat;
    background-clip: border-box;
    -webkit-background-clip: text;
    line-height: 46px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #f84028;
    justify-content: center;
    margin-bottom: 30px;
  }
}
