.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}


body {
  background-color: #e5e5e5;
}

.ham {
    padding: 5%;
}

.first-li {
    display: none;
}

.heading-1 {
    color: red;
    font-size: 23px;
    font-weight: 700;
}

.second-item {
    display: none;
}
.abt-p {
    border: 1px solid #d3d3d3;
    color: rgba(235, 24, 24, 0.813);
    width: 100%;
    padding: 5%;
    background: #fff;
}

.abt-p p {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

.words {
    font-weight: 300;
    font-size: 23px;
    color: #ec5242;
    padding: 2%;
}

.fin-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding: 2%;
    color: red;
}

.words2 {
    font-size: 21px;
    font-weight: 400;
    color: #413c3c;
}

.bord {
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px soild #d3d3d3;
}


.b-mg {
    width: 45%;
    border: none;
}

.h-n {
    padding: 5%;
    text-align: center;
}

.pt {
    text-align: center;
}

.pt-lg {
    display: flex;
    flex-direction: row;
    grid-area: 3%;
}