* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
}

body {
    text-transform: capitalize;
    background-color: e5e5e5;
    width: 100%;
    overflow: scroll;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-block;
}

.mobi-logo {
  background-color: #e5e5e5;
}

.first-li , .second-li {
  display: none;
}
  
.container {
  background-image: url('./images/pexels-mart-production-7605971.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10 -90px;
  width: 100%;
  height: 100vh;
}

.card-1 {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding-top: 10%;
}

.logo-1 {
  width: 9%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.un-k {
  display: none;
}

.x-icon {
  background-color: red;
  display: none;
  right: 20px;
  position: absolute;
  top: 30px;
  width: 30px;
}

.heading-1 {
  color:  #ec5242;
  padding-bottom: 2.3%;
  font-size: 21px;
  font-weight: 300;
}

.heading-2 {
  color:  #ec5242;
  font-size: 32;
  font-weight: 700;
}

.article-1 {
  padding: 4%;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.01em;
  text-align: left;
  border: 3px solid #fff;
  margin: 1%;
  background-color: rgba(232, 232, 232, 0.9);
}

.next {
  color: #ccc2c2d4;
}

.h-next {
  font-size: 19px;
  font-weight: 900;
  padding-bottom: 5%;
}

.h-next-1 {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 2%;
  padding-top: 3%;
}

.programms {
  background-color: #272a31;
  width: 100%;
  height: 100vh;
  background-image: url('./images/pexels-mart-production-7605971.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  color: #100f0f;
  font-size: 20px;
  font-weight: 100;
  padding-top: 10%;
  padding-bottom: 1.5%;
}

.red-line{
  width: 14%;
  border-bottom: 1.3px solid red;
  margin-left: 42%;
  margin-right: 80%;
  padding-top: -1%;
  margin-top: -4%;
  padding-bottom: 4;
  margin-bottom: 8%;
}


.about {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 355px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}

.pp-t {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.our-c {
  color: #FFF;
font-size: 20px;
font-family: Lato;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: -0.8px;
display: flex;
width: 122px;
height: 17px;
flex-direction: column;
justify-content: center;
}

.under-line {
  width: 30px;
height: 2px;
background: #A04038;
}

.programm-details {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2.676px;
}

.program-card {
  display: flex;
  flex-direction: column;
width: 354.996px;
justify-content: center;
align-items: center;
gap: 8.919px;
}

.lecturer {
  display: flex;
justify-content: center;
align-items: center;
gap: 11.595px;
border: 1px solid gray;
background: grey;
width: 97%;
}

.pro-img {
  width: 57.085px;
height: 51.733px;
}

.lect{
  display: flex;
align-items: center;
gap: 11.595px;
color: #d74c3a;
}

.lec {
  color: #FF5438;
font-size: 14.271px;
font-family: Lato;
font-style: normal;
font-weight: 700;
line-height: 24.975px;
letter-spacing: -0.143px;
}


.lec-p {
  color: #FFF;
font-size: 10.703px;
font-family: Lato;
font-style: normal;
font-weight: 700;
line-height: 22.299px;
letter-spacing: 0.642px;
display: flex;
width: 191.769px;
height: 82.059px;
flex-direction: column;
justify-content: center;
}
.all-courses {
  display: flex;
  flex-direction: column;
}

.course-cd {
  display: flex;
  gap: 20px;
  height: 100px;
  background-color: #5f5f5f50;
  color: #d3d3d3;
  margin: 8px 0;
  align-items: center;
  padding: 2%;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
}

.c-p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #d74c3a;
  font-family: 'lato', sans-serif;
  width: 75%;
}

.c-m {
  padding-right: 3%;
  width: 129px;
}

.g-p {
  font-weight: 400;
  font-size: 14px;
  padding: 2%;
  color: black;
}

.gest-p {
  color:  #000;
  font-size: 21px;
}


.lop {
  width: 37%;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 17%;
}

.c-pp {

  color: #d3d3d3;
  display: flex;
}
.o-c {
  font-size: 18;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

hr  , .o-c-1 {
  background-color: red;
  width: 15%;
  color: red;
  margin-left: 38%;
  width: 25%;
}

.logos {
  width: 16vh;
}

.big-p {
  color: #fff;
}

 button {
    width: 200px;
    height: 50px;
    background-color: #fe4f38;
    color: #fdd9d6;
    border: none;
    margin: 10px auto;
    font-family: 'lato', sans-serif;
}

.speakers {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  gap: 20px;
}

.spk-h {
  text-align: center;
  padding-top: 2%;
}

.guest-menu {

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: cpaitalize;
}

.list-1 {
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.list-1 a {
 text-decoration :none;
 color: #000;
 text-decoration: none;
 font-size: 25px;
}

.guest {
  display: flex;
  gap: 20px;
}

.target {
  display: flex;
  background-position: left top;
  background-image: url('./images/chessbg.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  padding-top: 10px;
  padding-left: 10px;
  width: 85%;
}

.nn {
  font-size: 17px;
  color: red;
  font-weight: 400;
  padding: 3%;
  font-style: italic;
}

.g-p

.elon {
  width: 140%;
}


.guest-img {
  width: 150px;
  height: 150px;
}

.guest-det h3 ::after {
  content: '';
    position: absolute;
    bottom: -10px;
    left: 3%;
    transform: translateX(-50%);
    width: 2rem;
    height: 2px;
    background-color: #d9d9d9;
}

/*  desktop version styles start */
  @media (min-width :768px){    
  .first-li {
    background-color: #454545;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    font-size: 19px;
    color: #fff;
    float: left;
    gap: 1.5%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
   }
 
   .first-li li a {
     color: #fff;
   }
 
 .second-item {
  display: flex;
height: 75px;
padding: 0px 198px 0px 209px;
justify-content: center;
align-items: center;
gap: 232px;
flex-shrink: 0;
align-self: stretch
  
 }
 
 .second-li {
     
     display: flex;
justify-content: center;
align-items: center;
gap: 65px;
   }
 
   .second-li a {
     color: grey;
   }

   .mobi-logo {
    display: none;
   }
 
 .second-li a:hover {
   color: rgb(206, 22, 22);
   border-style: inset;
   width: 5%;
 }
   .active {
    color: rgb(215, 20, 20);
   }
 
 .logo-1 {
  display: none;
  overflow: hidden;
 }

.un-k{
  display: none;
}

 .logo {
  width: 130px;
height: 51px;
 }
   .container {
     display: grid;
     grid-column: 1fr;
     gap: 12.8rem;
     background-color: #e5e5e5;
   }
 
   .container {
     background-image: url('./images/pexels-mart-production-7605971.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 100vh;
   }
 
   .introductory  {
     padding-top: 6%;
     display: flex;
     flex-direction: column;
     justify-content: safe;
     
   }
 
  }