* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
}

body {
    text-transform: capitalize;
    background-color: e5e5e5;
    width: 100%;
    overflow: scroll;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: none;
}

.mobi-logo {
  background-color: #e5e5e5;
}

.first-li , .second-li {
  display: none;
}
  
.container {
  background-image: url('./images/pexels-mart-production-7605971.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10 -90px;
  width: 100%;
  height: 100vh;
}

.card-1 {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding-top: 10%;
}

.logo-1 {
  width: 9%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.heading-1 {
  color:  #ec5242;
  padding-bottom: 2.3%;
  font-size: 21px;
  font-weight: 300;
}

.heading-2 {
  color:  #ec5242;
  font-size: 32;
  font-weight: 700;
}

.article-1 {
  padding: 4%;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.01em;
  text-align: left;
  border: 3px solid #fff;
  margin: 1%;
  background-color: rgba(232, 232, 232, 0.9);
}

.next {
  color: #ccc2c2d4;
}

.h-next {
  font-size: 19px;
  font-weight: 900;
  padding-bottom: 5%;
}

.h-next-1 {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 2%;
  padding-top: 3%;
}

.programms {
  background-color: #272a31;
  width: 100%;
  height: 100vh;
  background-image: url('./images/pexels-mart-production-7605971.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  color: #100f0f;
  font-size: 20px;
  font-weight: 100;
  padding-top: 10%;
  padding-bottom: 1.5%;
}

.red-line{
  width: 14%;
  border-bottom: 1.3px solid red;
  margin-left: 42%;
  margin-right: 80%;
}

.about {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-row-gap: 30px;
  justify-content: center;
  padding: 7% 2%;
  color: #fff;
}

.all-courses {
  display: flex;
  flex-direction: column;
}


.main-title{
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 7%;
  padding-top: 7%;
}
.courses {
  display: flex;
    gap: 20px;
    height: 100px;
    background-color: #5f5f5f50;
    color: #d3d3d3;
    margin: 8px 0;
    padding: 0 20px;
    align-items: center;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
}

.course-h {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #d74c3a;
  font-family: 'lato', sans-serif;
}

.logos {
  width: 16vh;
}

.big {
  background: red;
 
}
.big-p {
  color: #fff;
}


 button {
    width: 200px;
    height: 50px;
    background-color: #fe4f38;
    color: #fdd9d6;
    border: none;
    margin: 10px auto;
    font-family: 'lato', sans-serif;
}

.speakers {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  gap: 20px;
}

.spk-h {
  text-align: center;
  padding-top: 2%;
}

.guest-menu {

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.guest {
  display: flex;
  gap: 20px;
}

.target {
  display: flex;
  background-image: url(images/chessbg.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 50%;
  padding-top: 10px;
  padding-left: 10px;
}

.guest-img {
  width: 150px;
  height: 150px;
}

.guest-det h3 ::after {
  content: '';
    position: absolute;
    bottom: -10px;
    left: 3%;
    transform: translateX(-50%);
    width: 2rem;
    height: 2px;
    background-color: #d9d9d9;
}

/*  desktop version styles start */
  @media (min-width :768px){    
  .first-li {
    background-color: #454545;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    font-size: 19px;
    color: #fff;
    float: left;
    gap: 1.5%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
   }
 
   .first-li li a {
     color: #fff;
   }
 
 .second-item {
   width: 100%;
   height: 10dvh;
 }
 
 .second-li {
     padding-top: 1%;
     padding-bottom: 2%;
     display: flex;
     justify-content: space-evenly;
     font-size: 22px;
     color: #fff;
     font-weight: 400;
     padding-left: 25%;
   }
 
   .second-li a {
     color: grey;
   }
 
 .second-li a:hover {
   color: rgb(206, 22, 22);
   border-style: inset;
   width: 5%;
 }
   .active {
    color: rgb(215, 20, 20);
   }
 
 .logo-1 {
  display: none;
  overflow: hidden;
 }
   .container {
     display: grid;
     grid-column: 1fr;
     gap: 12.8rem;
     background-color: #e5e5e5;
   }
 
   .container {
     background-image: url('./images/pexels-mart-production-7605971.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 100vh;
   }
 
   .introductory  {
     padding-top: 6%;
     display: flex;
     flex-direction: column;
     justify-content: safe;
     
   }
 
  }