* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
}

body {
  text-transform: capitalize;
  background-color: e5e5e5;
  width: 100%;
  overflow: scroll;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-block;
}

.mobi-logo {
  background-color: #e5e5e5;
}

.first-li,
.second-li {
  display: none;
}

.second-li li {
  border: 4px solid #fff;
  padding: 0.9rem;
}

.second-li a {
  text-decoration: none;
  color: #3b434e;
  font-size: 20px;
  font-weight: 400;
}

.container {
  background-image: url('./images/concert-mobile-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10 -90px;
  width: 100%;
  height: 100vh;
}

.card-1 {
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding-top: 10%;
}

.logo-1 {
  width: 40px;
  padding: 3px;
}

.un-k {
  display: none;
}

.x-icon {
  background-color: red;
  display: none;
  right: 20px;
  position: absolute;
  top: 30px;
  width: 30px;
}

.heading-1 {
  font-size: 26px;
  font-weight: 400;

  /* line-height: 5px; */
  color: #ec5242;
  font-family: 'lato', sans-serif;
}

.heading-2 {
  font-size: 35px;
  font-weight: 900;
  font-family: 'COCOGOOSE', serif;
  background-image: linear-gradient(rgba(255, 38, 0, 0.76), rgba(255, 51, 0, 0.575)), url(images/sun.jpg);
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 46px;
}

.article-1 {
  padding: 4%;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.01em;
  text-align: left;
  border: 3px solid #fff;
  margin: 1%;
  background-color: rgba(232, 232, 232, 0.9);
}

.next {
  color: #ccc2c2d4;
}

.h-next {
  font-weight: 900;
  font-family: 'lato', sans-serif;
  color: #6d6d6d;
  font-size: 20px;
  margin: 10px;
}

.h-next-1 {
  color: #8f8f8f;
  font-family: 'lato', sans-serif;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 10px;
}

.programms {
  background-color: #272a31;
  width: 100%;
  height: 100vh;
  background-image: url('./images/pexels-mart-production-7605971.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  color: #100f0f;
  font-size: 20px;
  font-weight: 100;
  padding-top: 10%;
  padding-bottom: 1.5%;
}

.red-line {
  width: 14%;
  border-bottom: 1.3px solid red;
  margin-left: 42%;
  margin-right: 80%;
  padding-top: -1%;
  margin-top: -4%;
  padding-bottom: 4;
  margin-bottom: 8%;
}

.about {
  background-image: url('/images/program-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-row-gap: 30px;
  justify-content: center;
  padding: 7% 2%;
  color: #fff;
}

.about h3 {
  display: flex;
  justify-content: center;
  font-family: 'lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.01em;
  position: relative;
}

.card-all {
  display: flex;
  flex-direction: column;
}

.card {
  height: 100px;
  background-color: #5f5f5f50;
  color: #d3d3d3;
  margin: 8px 0;
  padding: 0 20px;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11.595px;
}

.card img {
  width: 40px;
  width: 57.085px;
  height: 51.733px;
}

.card h4 {
  font-family: 'lato', sans-serif;
  display: flex;
  width: 104.112px;
  height: 24.083px;
  flex-direction: column;
  justify-content: center;
  color: #ff5438;
  font-size: 14.271px;
}

.card p {
  font-family: 'lato', sans-serif;
  display: flex;
  width: 191.769px;
  height: 82.059px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 10.703px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.642px;
}

.c-p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #d74c3a;
  font-family: 'lato', sans-serif;
  width: 75%;
}

.c-m {
  padding-right: 3%;
  width: 129px;
}

.g-p {
  font-weight: 400;
  font-size: 14px;
  padding: 2%;
  color: black;
}

.gest-p {
  color: #000;
  font-size: 21px;
}

.lop {
  width: 37%;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 17%;
  display: none;
}

.c-pp {
  color: #d3d3d3;
  display: flex;
}

.o-c {
  font-size: 18;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

hr,
.o-c-1 {
  background-color: red;
  color: red;
  margin-left: 38%;
  width: 25%;
}

.logos {
  width: 16vh;
}

.big-p {
  color: #fff;
}

button {
  width: 200px;
  height: 50px;
  background-color: #fe4f38;
  color: #fdd9d6;
  border: none;
  margin: 10px auto;
  font-family: 'lato', sans-serif;
}

.speaker {
  display: flex;
  gap: 20px;
}

.speakers {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  gap: 20px;
}

.spk-h {
  text-align: center;
  padding-top: 2%;
}

.target img {
  width: 150px;
  height: 150px;
}

.guest-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-transform: cpaitalize;
}

.list-1 {
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.list-1 a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}

.second-item {
  display: none;
}

.guest {
  display: flex;
  gap: 20px;
}

.target {
  display: flex;
  background-position: left top;
  background-image: url('./images/chessbg.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
}

.nn {
  font-size: 17px;
  color: red;
  font-weight: 400;
  padding: 3%;
  font-style: italic;
}

.g-p .elon {
  width: 140%;
}

.guest-img {
  width: 150px;
  height: 150px;
}

.guest-det h3 ::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 3%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2px;
  background-color: #d9d9d9;
}

.guest-det h4 {
  color: red;
  font-style: italic;
}

.guest-det h4 > ::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid gray;
  background-color: #d9d9d9;
}

.partner-img {
  display: none;
}

footer {
  display: none;
}

/*  desktop version styles start */
@media (min-width: 768px) {
  .guest-menu {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
  }

  .second-li li {
    border: 4px solid #fff;
    padding: 0.9rem;
  }

  .second-li a {
    text-decoration: none;
    color: #3b434e;
    font-size: 20px;
    font-weight: 400;
  }

  .first-li {
    background-color: #454545;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    font-size: 19px;
    color: #fff;
    float: left;
    gap: 1.5%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
  }

  .first-li li a {
    color: #fff;
  }

  .card-1 {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
  }

  .second-item {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    width: 100%;
  }

  .second-li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
  }

  .mobi-logo {
    display: none;
  }

  .second-li a:hover {
    color: rgb(206, 22, 22);
    border-style: inset;
    width: 5%;
  }

  .active {
    color: rgb(215, 20, 20);
  }

  .logo-1 {
    display: none;
    overflow: hidden;
  }

  .un-k {
    display: none;
  }

  .logo {
    width: 130px;
    height: 51px;
  }

  .container {
    background-image: url('./images/concert-mobile-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }

  .introductory {
    display: flex;
    flex-direction: column;
    justify-content: safe;
    padding: 7%;
    padding-bottom: 10%;
  }

  .heading-1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 5;
    color: #ec5242;
    font-family: 'lato', sans-serif;
  }

  .heading-2 {
    font-size: 35px;
    font-weight: 900;
    font-family: 'COCOGOOSE', serif;
    background-image: linear-gradient(rgba(255, 38, 0, 0.76), rgba(255, 51, 0, 0.575)), url(images/sun.jpg);
    background-repeat: repeat;
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 46px;
  }

  .intro {
    /* border: 4px solid white; */
    margin: 20px 0;
    padding: 10px;
    color: #010101;

    /* background-color: #f6f6f7; */
    max-width: 900px;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
  }

  .about {
    display: grid;
    grid-row-gap: 30px;
    justify-content: center;
    background-image: url('./images/program-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7% 2%;
    color: #fff;
  }

  .about h3 {
    font-size: 30px;
    font-weight: 400;
  }

  .cards-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 210px;
    background-color: #5f5f5f50;
  }

  .card img {
    width: 40px;
  }

  .card h4 {
    font-size: 17px;
    line-height: 28px;
    font-weight: 700;
    color: #d74c3a;
    font-family: 'lato', sans-serif;
  }

  .card p {
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
  }

  .partner-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 30px;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-color: #404245;
  }

  .partner-img h3 {
    color: #fff;
  }

  .partner-det img {
    width: 100px;
    height: 100px;
    margin: 20px;
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 25px;
    align-items: center;
  }

  &copy {
    font-size: 19px;
  }
}
